<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Config>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>
















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>




























































































































































































































































































<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>



















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>




















<Email Account="projetoes61@gmail.com" Password="rumoao20"/>
<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>



















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>



















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>



















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>



















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>



















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>



















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>



















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>



















<Twitter Token="325579017-F4NTQoyvPu5tiXhFxHRxDxXhFcc5gHJOQIP4wjSX" TokenSecret="q1fU6OGjh69wt65oPfuDU7whVYW3hhGbMVZExSchQQh3F"/>
<Facebook Token="EAAEprSZC8PBABAH9b5ZCenIihRPkPNoe1P4uDbAN7CQbnuMHZAOe7LUxBRf18LZB6ZBZCJF55D1NTYxD3L84a6UkB1YXGe2YgX6aubeA0NkZCLYsZCHuzRbuwXrXMpLFnj0tOPIgyaTOP6pHpKP1GwiDZAe52iUumB0ZAdkZAGnkG8LDgZDZD"/>
<Post Content="Teste 1" ID="494271834397031_494276877729860" UpdatedTime="Fri Dec 07 01:25:38 CET 2018"/>
<Post Content="www.facebook.com/903964286283340_698505523592834" ID="494271834397031_494278164396398" UpdatedTime="Sat Dec 01 15:26:41 CET 2018"/>
<Status Content="Teste 2" Date="Mon Dec 03 17:12:00 CET 2018" ID="1069625307659939841"/>
<Status Content="Teste 1" Date="Mon Dec 03 17:11:56 CET 2018" ID="1069625290513620992"/>
<Message Content="teste&#10;resposta" Date="Wed Dec 05 01:30:56 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Message Content="teste 2&#10;corpo" Date="Wed Dec 05 12:19:01 CET 2018" GetFrom="ES ES &lt;projetoes61@gmail.com&gt;"/>
<Message Content="subject&#10;body" Date="Wed Dec 05 16:58:07 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Message Content="time&#10;lastHour" Date="Thu Dec 06 17:46:03 CET 2018" GetFrom="ES ES &lt;projetoes61@gmail.com&gt;"/>
<Message Content="Assunto&#10;email reply" Date="Thu Dec 06 17:52:47 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Message Content="ola&#10;adeus" Date="Thu Dec 06 20:48:57 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Message Content="subject&#10;body" Date="Fri Dec 07 00:05:52 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Message Content="subject&#10;body" Date="Fri Dec 07 00:08:17 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Message Content="subject&#10;body" Date="Fri Dec 07 00:10:45 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Message Content="subject&#10;body" Date="Fri Dec 07 00:13:05 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Message Content="subject&#10;body" Date="Fri Dec 07 00:41:30 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Message Content="subject&#10;body" Date="Fri Dec 07 00:53:39 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Post Content="Teste 1" ID="494271834397031_494276877729860" UpdatedTime="Fri Dec 07 01:25:38 CET 2018"/>
<Status Content="Teste 2" Date="Mon Dec 03 17:12:00 CET 2018" ID="1069625307659939841"/>
<Message Content="teste&#10;resposta" Date="Wed Dec 05 01:30:56 CET 2018" GetFrom="projetoes61@gmail.com"/>
<Email Account="projetoes61@gmail.com" Password="rumoao20"/>
<Email Account="projetoes61@gmail.com" Password="rumoao20"/>
</Config>
