<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<Config>



























<Twitter Token="601766891-9uh7nh5X6KIyA4oSnyBYI8ni3OHxrEmWHQRAkusv" TokenSecret="i3fJyTUAldcMtmUPH5bRgC94L0hi0jldbew5WuFvphjD4"/>



<Email Account="projeto61@gmail.com" Password="rumoao20"/>


<Email Account="projetoes61@gmail.com" Password="rumoao20"/>




<Facebook Token="EAAEprSZC8PBABAHQ9HgNZAyrX3ZCh8IlbXTNeCFmraVBewtOgZCCyvDZB0upuByzZAJCcpUf4YdY677yZAcq8MfdVyFZChycatGWTBlvyiq2bWXIXIFaa4OEnXfkcZCB0IZBL27vUalaIdZBne3ZC2UpMQygfCW0wCFJrEWHtwLOT8WTg2sFwbHaaVo9NpH3aZCiLiT8ZD"/>









<Status Content="Teste 1" Date="Mon Dec 03 16:11:56 WET 2018" ID="&lt;a href=&quot;http://twitter.com/download/iphone&quot; rel=&quot;nofollow&quot;&gt;Twitter for iPhone&lt;/a&gt;"/>
</Config>
